<!-- footer -->
<footer id="footer" class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row g-4">

      <div class="col-lg-4 col-md-6">
        <h4 class="mb-3 fw-bold">The Untold Stories</h4>
        <p class="text-light-50">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus libero lectus non et posuere.
        </p>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">About Us</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Vision</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Service Terms</a></li>
          <li><a href="#">Donate</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Discover</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Authors</a></li>
          <li><a href="#">Subjects</a></li>
          <li><a href="#">Advanced Search</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">My Account</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Sign In</a></li>
          <li><a href="#">View Cart</a></li>
          <li><a href="#">My Wishlist</a></li>
          <li><a href="#">Track My Order</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Help</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Report a Problem</a></li>
          <li><a href="#">Suggesting Edits</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

    </div>
    <div class="text-center mt-4 text-light-50 small">
      &copy; 2025 The Untold Stories. All rights reserved.
    </div>
  </div>
</footer>


<!-- jQuery + Slick JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  $(document).ready(function () {
    $('.main-slider').slick({
      dots: true,
      arrows: true,
      autoplay: true,
      autoplaySpeed: 4000,
      prevArrow: '<button type="button" class="slick-prev">‹</button>',
      nextArrow: '<button type="button" class="slick-next">›</button>',
    });
  });
</script>

</body>

</html>