


<%-include("../../views/partials/admin/header")%>

<div class="container my-4">
  <h3 class="mb-4">Dashboard</h3>
  <!-- Add your dashboard content/cards/tables here -->
</div>


<%-include("../../views/partials/admin/footer")%>