body {
  background-color: #f8f9fa;
}

.search-container {
  position: relative;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 40px;
}

.search-container input {
  padding-right: 30px;
  width: 400px;
}

.search-container input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: black !important;
}

.search-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
  font-size: 1.2rem;
}

.page-item .page-link {
  color: black !important; /* blue for all page numbers */
}

.page-item.active .page-link {
  background-color: #343a40; /* dark background for current page */
  border-color: #343a40;
  color: white !important; /* white text for current page */
}

.add-cat:hover {
  color: #ffc107;
}

.table td,
.table th {
  vertical-align: middle;
  border: 1px solid black;
}

.table-wrapper {
  position: relative;
  min-height: 480px;
}

.pagination-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
