.btn-save {
  background-color: #d4a373 !important ;
  font-weight: bold;
}

.btn-cancel {
  background-color: #6c757d;
  color: white;
}

.btn-cancel:hover {
  background-color: #6c757d;
  color: white;
}
