/* Default style */
.custom-input {
  border: 1px solid #ccc;
  padding: 8px;
  outline: none;
  transition: border 0.2s ease;
}

/* When focused */
.custom-input:focus {
  border: 2px solid black;
  box-shadow: none;
}

.eye-toggle {
  position: absolute;
  right: 32px;
  top: 120px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.btn-custom {
    background-color: #fca311;
    color: white;
    border: none;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #fca311;
  color: white;
  border: none;
}

.signup-link a {
    color: #fca311;
}

