<%- include("../partials/user/header") %>
<link rel="stylesheet" href="/css/change-name.css">
    
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Change Profile Name</h3>
      <form action="/change-name" method="POST" id="form">
        <div class="mb-3">
          <label class="form-label">New Name</label>
          <input type="text" id="name" name="name" class="form-control" value="<%= user.name %>">
          <div class="text-danger" id="name-error"></div>
        </div>
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-save flex-fill">Save</button>
          <!-- <button type="button" class="btn btn-cancel flex-fill">Cancel</button> -->
          <a href="/userProfile" class="btn btn-cancel flex-fill">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>


<script>

document.getElementById('form').addEventListener('submit', async function(e) {
  e.preventDefault()

  if(!validateForm()) return;

  const name = document.getElementById('name').value.trim();

  try {

    const response = await fetch('/change-name',{
    method: 'PATCH',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({name})
  });

  const data = await response.json();

  if(response.ok) {
    Swal.fire({
      icon: 'success',
      title: 'Name updated',
      text: data.message || 'The name has been updated successfully',
      confirmButtonColor: '#28a745'
    }).then(() => {
      window.location.href = '/userProfile';
    });
  }else {
    if(data.error === 'Name is same as current name'){
      Swal.fire({
        icon: 'info',
        title: 'No change',
        text: 'You entered the same name as before',
        confirmButtonColor: '#17a2b8'
      }).then(()=>{
        window.location.href = '/userProfile';
      });
    }else{
      Swal.fire({
        icon: 'error',
        title: 'Update failed',
        text: data.error || 'Something went wrong while updating profile name',
        confirmButtonColor: '#dc3545'
      });
    }
  }
    
  } catch (error) {
    console.error('Error:', error);
    Swal.fire({
      icon: 'error',
      title: 'Error!',
      text: 'An unexpected error occurred',
      confirmButtonColor: '#dc3545'
    });
  }


});



function validateForm(){
  const nameInput = document.getElementById('name');
  const name = nameInput.value.trim();    
  const nameError = document.getElementById('name-error');
  nameError.textContent = ''

  nameInput.addEventListener('input', () => { nameError.textContent = ''})

  if(name === ''){
    nameError.textContent = 'Please enter a name'
    return false
  }

  return true;
}

</script>

