<%-include("../../views/partials/user/header")%>
<link rel="stylesheet" href="/css/order-success.css">


<div class="success-wrapper">
  <div class="success-container">
    <div class="check-icon">
      <i class="fas fa-check"></i>
    </div>
    <h2>Thank you for ordering!</h2>
    <p>Your order has been placed successfully.</p>
    <div class="actions">
      <a href="/my-order" class="btn view-order">VIEW ORDER</a>
      <a href="/shop" class="btn continue-shopping">CONTINUE SHOPPING</a>
    </div>
  </div>
</div>