<%-include("../../views/partials/user/header")%>
  <link rel="stylesheet" href="/css/order-success.css">

  <div class="success-wrapper">
    <div class="success-container">
      <div class="check-icon failed-icon">
        <i class="fas fa-times"></i>
      </div>
      <h2>Payment Failed!</h2>
      <p>Payment Status: <%= order.paymentStatus %>
      </p>
      <% if (order) { %>
        <p>Order ID: <strong>
            <%= order.orderId %>
          </strong></p>
        <p>Amount: <strong>₹<%= order.finalAmount %></strong></p>
        <% } %>

          <p>Unfortunately, your payment could not be processed.<br>Please try again or choose another payment method.
          </p>

          <div class="actions">
            <a href="/my-order" class="btn view-order">VIEW MY ORDERS</a>
            <a href="/shop" class="btn continue-shopping">CONTINUE SHOPPING</a>
          </div>
    </div>
  </div>




