<%-include("../../views/partials/user/header")%>
<link rel="stylesheet" href="/css/resetPassword.css">

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card shadow p-4 rounded-4">
        <h3 class="text-center mb-4">Reset Password</h3>
        
        <form action="/reset-newPassword?_method=PATCH" method="POST" id="passwordResetForm">
          <!-- New Password -->
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control custom-input" id="password" name="password">
            <span id="toggleIcon" class="eye-toggle">👁️</span>
            <div id="error1" class="error-message text-danger"></div>
          </div>

          <!-- Confirm Password -->
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Re-enter Password</label>
            <input type="password" class="form-control custom-input" id="confirmPassword" name="confirmPassword">
            <div id="error2" class="error-message text-danger"></div>
          </div>

          <!-- Change Button -->
          <button type="submit" class="btn w-100 btn-custom">Change Password</button>
        </form>

        <!-- Signup Link -->
        <p class="text-center mt-3 signup-link">
          Don’t you have an account? <a href="/signup">Signup</a>
        </p>
      </div>
    </div>
  </div>
</div>


<script>

  document.addEventListener('DOMContentLoaded', function(){
    const form = document.getElementById('passwordResetForm')
    const password = document.getElementById('password')
    const cpassword = document.getElementById('confirmPassword')
    const passwordError = document.getElementById('error1')
    const cpasswordError = document.getElementById('error2')
    const toggleIcon = document.getElementById('toggleIcon')

    password.addEventListener('input', () => {passwordError.textContent = ''})
    cpassword.addEventListener('input', () => {cpasswordError.textContent = ''})

    // Toggle password visibility
    toggleIcon.addEventListener('click',()=>{
      if(password.value.trim() == ''){
        return
      }

      if(password.type === 'password'){
        password.type = 'text'
        toggleIcon.textContent = '🙈'
      }else{
        password.type = 'password'
        toggleIcon.textContent = '👁️'
      }
    });

    form.addEventListener('submit', function(e){
      let valid = true

      if(password.value.trim() === ''){
        passwordError.textContent = 'Please enter password'
        passwordError.style.display = 'block'
        valid = false
      }else if(password.value.trim().length < 8){
        passwordError.textContent = 'Password must be at least 8 characters'
        passwordError.style.display = 'block'
        valid = false
      }else{
        passwordError.style.display = 'none'
      }


      if(cpassword.value.trim() === ''){
        cpasswordError.textContent = 'Please re-enter password'
        cpasswordError.style.display = 'block'
        valid = false
      }else if(password.value.trim() !== cpassword.value.trim()){
        cpasswordError.textContent = 'Passwords do not match'
        cpasswordError.style.display = 'block'
        valid = false
      }

      if(!valid){
        e.preventDefault()
      }
    })
  })



</script>
